html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans', sans-serif;
    font-size: 1.4rem;
    background-color: lightgray;
}

h1, h2, h3, p{
    margin: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px lightgray;
    padding: 1em;
    background-color: #fff;
}

.container{
    width: 95%;
    margin: 0 auto;
}

.navbar__logo {
    width: 300px; 
}

.avatar {
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    height: 80px;
    object-fit: cover;
}

.feed{
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.post{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    padding: 40px 0;
}

.post__header{
    display: flex;
    gap: 20px;
    align-items: center;
}

.post__autor-info{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.username{
    font-weight: 900;
}

.post-img{
    width: 100%;
}

.post-img img{
    width: 100%;
    display: block;
}

.post-interactions{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.post-icons{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.icon{
    width: 52px;
}

.icon img{
    width: 100%;
}







