html, body {
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px lightgray;
    padding: 1em;
}

.img-wrapper img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-wrapper{
    display: flex;
    overflow: hidden;
}

.top-logo{
    max-width: 300px;
}

.avatar-top{
    width: 100px;
    border-radius: 50%;
}




